<!--<mat-tab-group>-->
<!--  <mat-tab label="Sign Up">-->
<!--    <div>-->
<!--      Username-->
<!--      <input type="text" placeholder="Username" [(ngModel)]="username" required>-->
<!--      Password-->
<!--      <input type="password" placeholder="password" [(ngModel)]="password" required>-->
<!--      <button (click)="registerSubmit()">Submit</button>-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--  <mat-tab label="Login">-->
<!--    <div>-->
<!--      Username-->
<!--      <input type="text" placeholder="Username" >-->
<!--      Password-->
<!--      <input placeholder="password">-->
<!--      <button>Submit</button>-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--</mat-tab-group>-->

<div class="container">
      <mat-tab-group>
        <mat-tab label="Register">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" [(ngModel)]="username" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="password" [(ngModel)]="password" required>
          </mat-form-field>
          <button (click)="registerSubmit()">Submit</button>
        </mat-tab>

        <mat-tab label="Login">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>
          <button>Submit</button>
        </mat-tab>
      </mat-tab-group>
</div>



