<div class="container">
      <mat-tab-group [(selectedIndex)]="tabIndex">
        <mat-tab label="Register">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" [(ngModel)]="username" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
          </mat-form-field>
          <button mat-raised-button (click)="registerSubmit()">Submit</button>
        </mat-tab>

        <mat-tab label="Login">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" [(ngModel)]="username" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
          </mat-form-field>
          <button mat-raised-button (click)="loginSubmit()">Submit</button>
        </mat-tab>
      </mat-tab-group>
</div>
<mat-card>
  <mat-card-content *ngIf="invalidCredentials">Invalid input! Try again.</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content *ngIf="duplicateAccount">Account already exists!</mat-card-content>
</mat-card>



